@media (max-width: 1230px) {
    .navbar{
        padding: 35px 5vw;
    }
    .nav-item{
        width: 15vw;
    }
    .main{
        width: 70vw;
        justify-content: center;
    }
    .exp-logo{
        img{
            width: 150px;
        }
    }
    .exp-box{
        width: 80%;
    }
    .projects{
        height: 65dvh;
    }
    .Footer{
        padding: 17vh;
    }
}
@media (max-width: 940px) {
    .navbar{
        padding: 35px 5vw;
    }
    #menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-item{
        display: none;
    }
    .main{
        width: 80vw;
        justify-content: center;
    }
    .project{
        h3{
            font-size: 1rem;
        }
        button{
            padding: 10px 20px;
        }
    }
    .projects{
        height: 50dvh;
    }
    .Footer{
        padding: 13vh;
    }
}
@media (max-width: 700px) {
    .navbar{
        padding: 35px 5vw;
    }
    .main{
        span{
            font-size: 1.1rem;
        }
    }
    .btn{
        height: 7vh;
        width: 200px;
    }
    .projects{
        height: 35dvh;
    }
    .project{
        h3{
            font-size: .8rem;
        }
    }
    .exp-logo{
        img{
            width: 100px;
        }
    }
    .exp-box{
        width: 90%;
        padding: 2vh 5vw;
        p{
            text-align: left;
        }
        ul{
            li{
                margin-bottom: 10px;
            }
        }
    }
    .role{
        display: flex;
        flex-direction: column;
        span{
            width: 100%;
        }
        
    }
    .Footer{
        padding: 7vh;
    }
}
@media (max-width: 530px) {
    .navbar{
        padding: 35px 7vw;
    }
    .sidebar{
        align-items: center;
    }
    .main{
        span{
            font-size: 1.1rem;
        }
    }
    .btn{
        height: 7vh;
        width: 120px;
        font-size: .8rem;
    }
    .projects{
        height: 25dvh;
    }
    .project{
        h3{
            font-size: .6rem;
        }
        button{
            padding: 7px 15px;
            font-size: 0.5rem;
        }
    }
    .Footer{
       padding: 4vh;
        ul{
            li{
                font-size: .8rem;
            }
        }
    }
    .mail{
        img{
            height: 25px;
        }
        a{
            font-size: .8rem;
            gap: 5px;
        }
    }
}
@media (max-width: 430px) {
    .main{
        width: 91%;
        h2{
            font-size: 1.7rem;
        }
    }
    .sidebar{
        width: 100%;
    }
    .project{
        gap: 10px;
        width: 45vw;
    }
    .projects{
        gap: 10px;
    }
    .exp-box{
        h3{
            font-size: 1rem;
        }
        p{
            font-size: .8rem;
        }
    }
    .role{
        h4{
            font-size: .9rem;
        }
    }
    .Footer{
       padding: 3vh;
    }
}